* {
    box-sizing: border-box;
    margin: 5px;
    padding: 0;
}

body {
    /* background: linear-gradient(90deg, hsl(256, 20%, 11%), hsl(289, 91%, 44%)); */
   background:  linear-gradient(90deg,#200122 ,#6f0000 );;
}

.fondo1 {
    background: #6D214F;
    /* background:  rgb(238, 102, 92); #3026ee; */
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    clip-path: polygon(100% 0, 100% 89%, 48% 100%, 0 89%, 0 0);
}

.titulo {
    width: 200%;
    color: #fff;
    text-align: center;
    padding: 5px;
    margin-top: 10px;
    margin-bottom: 20px;
    border-radius: 10px;
    box-shadow: 0px 5px 10px #fff;
}

.titulo::after {
    width: 200px;
    /*height: ;*/
    content: "";
    display: block;
   /* background: ;*/
    margin: 0 auto;
    margin-top: 20px;
}

.foto {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background: #fff;
    border: 5px solid #fff;
    padding: 1px;
}

.sub_titulo {
    width: 100%;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 50px;
    color: #fff;
}

.fondo2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.link {
    display: block;
    width: 90%;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    color: #fff;
    border-radius: 10px;
    box-shadow: 0px 5px 10px #fff;
}

.link:nth-child(1) {
    background: #25d366;
   
}
.link:nth-child(2) {
    background: #3748a0;
}
.link:nth-child(3) {
    background: #1688bc;
}
.link:nth-child(4) {
    background: #d9601e;
}

.fondo2 [class*="icon-"]::before {
    margin: 10px;
}

.titulo_perfil {
    font-size: 20px;
    line-height: 35px;
    margin: 10px;
    text-align: center;
    color: #fff;
}

.texto {
    font-size: 20px;
    line-height: 35px;
    margin: 10px;
    text-align: center;
    color: #fff;
}
span {
    color: yellow;
    /* color: hsla(246, 94%, 35%, 0.967); */
}


footer a {
    align-items: center;
    text-decoration: none;
    margin-left: 50%;
    font-size: 10px;
    color: yellow;

}
